extends ../layout

block content
    div 
        span 조 선택 : 
            input(value="1조", type="button")
            input(value="2조", type="button")
            input(value="3조", type="button")
            input(value="4조", type="button")
            input(value="5조", type="button")
    div 
        span 조: 
        span=pensionNum
        span=pensionNum2
        span=pensionNum3
        span=pensionNum4
        span=pensionNum5
        span=pensionNum6

    form(method="POST")
        input(value="번호 돌리기", type="submit")